@import "./variables";

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  @media screen and (min-width: 1500px) {  //These media queries are temp.
    max-width: 1800px;
  }
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
