.thumbs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &Title {
    flex-basis: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 87px;
    &Text {
      margin: 0;
    }
  }
  @media screen and (min-width: 600px){
    max-width: 798px;
  }
}
