@import "./../../../scss/variables";

.bookListItem {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.cover {
  width: 37px;
  height: 55px;
  box-shadow: $shadow; 
}

.text{
  padding-left: $spacing-x1;
  max-width: 245px;
}

@mixin overflowed {
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  font-weight: bold;
  @include overflowed;
}

.author {
  @include overflowed;
}
