@import "./../../../scss/variables";

.bookListItem {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  overflow: hidden;
}

.cover {
  box-shadow: $shadow; 
}

.photo {
  min-width: 37px;
  height: 55px;
}

.text{
  padding-left: $spacing-x1;
  flex-basis: 100%;
}

.title {
  font-weight: bold;
}
