h1 {
  font-size: 3em;
  margin: 0;
  margin-bottom: $spacing-x3;
}

h2 {
  font-size: 2em;
  margin: 0;
  margin-bottom: $spacing-x2;
}

h3 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: $spacing-x2;
}

small {
  font-size: 14px;
}
