// colors
$black: #343434;
$white: #eeeeee;

$main-color: #F1F5F8;
$primary-text-color: $black;
$secondary-text-color: $white;

$font-size: 18px;

$content-width: 1200px;

$small-spacing: 15px;
$medium-spacing: 30px;
$big-spacing: 60px;
