@import "./_variables";

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  @media screen and (min-width: 1500px) {
    max-width: 1500px;
  }
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  
}
