@import './variables';

@mixin overflowed {
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

@mixin verticallyAligned {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
}
