@import "../../scss/variables";

.main {
  width: 100%;
    max-width: $main-width;
    margin: auto;

  &Header::after {
    content: '';
    display: block;
    border-bottom: 1px solid #707070;
  } 
}

.aside {
  width: 100%;
  max-width: $aside-width;
}
