@import "../../scss/variables";

.main {
  width: 100%;
  @media screen and (min-width: $content-width) {
    max-width: $main-width;
  } 
}

.aside {
  width: 100%;
  @media screen and (min-width: $content-width){
    max-width: $aside-width;
    margin-left: $spacing-x2;
  }
}
