@import "../common-scss/variables";

.header {
  display: flex;
  background: #222222;
  justify-content: flex-end;
  &__title-box {
    flex-basis: 50%;
  }
  &__title {
    color: white;
    font-size: $font-size;
    margin: 15px 0;
  }
  &__search-box {
    width: 300px;
    display: flex;
    align-items: center;
    font-size: $font-size;
  }
}

.search {
  width: 270px;
  height: 30px;
  background: #191919;
  border: none;
  outline: none;
  padding-left: 5px;
}
