@import "../../scss/variables";

.header {
  background: $black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: $secondary-text-color;
  height: 100px;
}


 .searchBox {
  width: 350px;
  display: flex;
  align-items: center;
  font-size: $font-size;
}

