@import "../../scss/variables";

.header {
  background: $black;
  display: flex;
  justify-content: flex-end;
  color: $secondary-text-color;
}

.title {
  font-size: $font-size;
  margin: 15px 0;

  &Box {
    flex-basis: 50%;
  }
}

.searchBox {
  width: 350px;
  display: flex;
  align-items: center;
  font-size: $font-size;
}
