@import "../../scss/variables";

.header {
  background: $white;
  color: $second-black;
  padding: 16px 0;
  &Box {
    align-items: center;
    display: flex;
  }
}

.logo {
  &Desc{
    font-size: 13px;
    width: 120px;
    height: 48px;
    margin-left: 10px;
  }
}

.input {
  &Box {
    flex: 1;
    text-align: right;
  }
}
