@import "../../scss/variables";

.search {
  width: 270px;
  height: 30px;
  border: none;
  outline: none;
  padding-left: 5px;
  font-size: $font-size;
}

.input {
  &Select {
    background: none;
    border: none;
    border-right: 1px solid $black;
    font-size: $font-size;
    color: $black;
    outline: none;
    margin-right: 15px;
  }
}
